* {margin: 0; padding: 0; box-sizing: border-box; user-select: none; font-family: 'Poppins', sans-serif;}
body {display: flex; justify-content: center; align-items: center; min-height: 100vh; background: #111; overflow: hidden;}
.container {position: relative; display: flex; gap: 30px; scale: 2.5; transition: 0.5s;}
.cards {position: relative; width: 80px; height: 260px; background: #333; border-radius: 10px; box-shadow: 0 5px 15px rgba(0,0,0,0.1); overflow: hidden; display: flex; justify-content: center; align-items: center; transition: 0.5s;}
.cards:hover {width: 260px;}
.cards img {opacity: 0.25; position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; transition: 0.5s;}
.cards:hover img {opacity: 1;}
.content {position: absolute; top: 30%; transform: rotate(270deg); width: 260px; height: 80px; padding: 0 20px; display: flex; align-items: center; transition: 0.5s;}
.cards:hover .content {top: 70%; transform: rotate(360deg);}
.content h2 {border-radius: 4px; font-size: 1.1em; color: #fff; font-weight: 500; letter-spacing: 0.25em; text-transform: uppercase; padding: 2px 5px 2px 12px; transition: 0.5s;}
.cards:hover .content h2 {color: #333; background: #fff; box-shadow: 0 15px 15px rgba(0,0,0,0.25);}

@media (max-width: 1200px) {
  .container {scale: 2.2;}
}

@media (max-width: 1100px) {
  .container {scale: 1.9;}
}

@media (max-width: 1000px) {
  .container {scale: 1.6;}
}

@media (max-width: 900px) {
  .container {scale: 1.3;}
}

@media (max-width: 800px) {
  .container {scale: 1;}
}

@media (max-width: 700px) {
  .container {scale: 0.75;}
}